@page "{id:int?}"
@model WingtipToys.WebUi.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h1>@Model.Product.ProductName</h1>
</div>
<br />
<table>
    <tr>
        <td>
            <img src="/Catalog/Images/@Model.Product.ImagePath" style="border:solid; height:300px" alt="@Model.Product.ProductName" />
        </td>
        <td>&nbsp;</td>
        <td style="vertical-align: top; text-align:left;">
            <b>Description:</b><br />@Model.Product.Description
            <br />
            <span><b>Price:</b>&nbsp;@Html.FormatValue(@Model.Product.UnitPrice, "{0:c}")</span>
            <br />
            <span><b>Product Number:</b>&nbsp;@Model.Product.ProductID</span>
            <br />
        </td>
    </tr>
</table>